<% @page_title = "Admin Menu" %>

<div class="menu">
	<table>
		<tr>
			<td class="brown">Logged in as: <%= session[:username] %></td>
		</tr>
		<tr>
			<td><%= link_to("Add Video", {:controller => 'access', :action => 'add_video'}, class: 'button-link') %></td><td></td>
		</tr>
		<tr>
			<td><%= link_to("Logout", {:action => 'logout'}, class: 'button-link') %></td>
		</tr>
		<tr>
			<td><%= link_to "Back to Content", {:controller => 'public', :action => 'index'}, class: 'button-link' %></td>
		</tr>
	</table>
</div>