// Place all the styles related to the access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: helvetica, arial;
}

#notice-box {
	display: inline-block;
	margin-bottom: 20px;
	color: red;
	.notice {
		padding: 2px;
		border-bottom: 1px solid;
	}	
}